// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include sans-serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $rigolo;
}

hr.light {
  border-color: $white;
}

a {
  color: $caramel;
  @include transition-all;
  &:hover {
    color: darken($caramel, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title-font;
}

.bg-primary {
  background-color: $rooibos !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 6rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

#banner {
  min-height: 170px;
}

.selected{
  color: $moules;
  font-size: 24px;
}

.nutriscore {
  background: $moules;
    border: black 2px;
    text-align: center;
    font-size: 35px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 51;
}

.modal-dialog {
    width: 300px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}

.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}

.minh-75 {
  min-height: 75% !important;
}

.page-footer{
    bottom: 0;
    width: 100%;
}