// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin title-font() {
  font-family: 'Open Sans', Arial, sans-serif;
}
@mixin sans-serif-font() {
  font-family: 'Scope One', Arial, sans-serif;
}

@mixin mask($img) {
  -webkit-mask: url($img) no-repeat 50% 50%;
     -moz-mask: url($img) no-repeat 50% 50%;
      -ms-mask: url($img) no-repeat 50% 50%;
          mask-image: url($img) no-repeat 50% 50%;
  -webkit-mask-size: cover;
     -moz-mask-size: cover;
      -ms-mask-size: cover;
          mask-size: cover;
}
