{% extends 'home/base.html' %}
{% load static %}
{% block title %}Resultat: {{query}}{% endblock %}
{% block content %}
  <header id="banner" class="masthead text-center text-white d-flex h-25">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Vos favoris</strong>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <section id="result" >
      <div class="container">
        <div id="listing" class="row">
          {% for product in user.profile.favorites.all %}
          <div class="card col-lg-4 col-md-12 p-2">
            <img class="card-img-top" src={{product.img_url}} alt="Card image cap">
            <div class="card-body">
              <p class="nutriscore">{{product.nutrition_grade.upper}}</p>
              <h5 class="card-title"><a href="{% url 'home:product' id=product.id_off %}">{{product.name}}</a></h5>
              <p class="card-text">{{product.brands}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

{% endblock %}