{% extends 'home/base.html' %}
{% load static %}
{% block title %}Mon Compte{% endblock %}
{% block content %}
  <header id="banner" class="masthead text-center text-white d-flex h-25">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>{{user.username}}</strong>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <section class="minh-75">
      <div class="container">
        <div class="row justify-content-center">
          <div class="text-center form-wrap">
            <p>Afin d'être avertie de la sortie de notre site dans sa version 2, nous vous proposons d'enregistrer votre adresse email.</p>
            <form action="" method="post">
              {% csrf_token %}
              <p>
                <input type="field" name="email" placeholder="username@domain.com" value="{{request.user.email}}">
              </p>
              <input type="submit" class="col col-2 align-self-center btn btn-custom btn-md btn-primary text-white" name="emailchange" value="Enregistrer" />
            </form>
          </div>

        </div>
      </div>
    </section>

{% endblock %}