{% extends 'home/base.html' %}
{% load static %}
{% block title %}Mes Aliments{% endblock %}
{% block content %}
  <header id="banner" class="masthead text-center text-white d-flex h-25">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Vos favoris</strong>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <section id="result" class="minh-75">
      <div class="container">
        {% if user.profile.favorites.all %}
        <div class="row mb-4">
          <a class="input-group-btn mx-auto" href="{% url 'home:favoritesjson' token=user.profile.api_token %}">
            <button class="btn btn-primary btn-xl">Exporter en JSon</button>
          </a>
        </div>
        {% endif %}
        <div id="listing" class="row">
          {% if not user.profile.favorites.all %}
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Aucun aliment trouvé</h2>
            <h4>Afin d'en ajouter à vos favoris:
              <li>Utilisez la barre de recherche en haut de l'écran</li>
              <li>Trouver un aliment qui vous plait</li>
              <li>Enfin, cliqué sur "Enregistrer" :)</li>
              </h4>
            <hr class="my-4">
          </div>
          {% else %}
          {% for product in user.profile.favorites.all %}
          <div class="card col-lg-4 col-md-12 p-2">
            <img class="card-img-top" src={{product.img_url}} alt="Card image cap">
            <div class="card-body">
              <p class="nutriscore text-white">{{product.nutrition_grade.upper}}</p>
              <h5 class="card-title"><a href="{% url 'home:product' id=product.id_off %}">{{product.name}}</a></h5>
              <p class="card-text">{{product.brands}}</p>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>

{% endblock %}